ul.side-nav li.logo {
	text-align: center;
	margin-top: 32px;
	margin-bottom: 16px;
	border-bottom: 1px solid #ddd;
}

ul.side-nav li.logo:hover {
	background-color: transparent;
}

#logo-container {
	height: 57px;
	margin-bottom: 32px;
}

#front-page-logo {
	display: inline-block;
	height: 100%;
	pointer-events: none;
};